
[report]
exclude_lines = 
    @kernels.perpart_interaction
    @kernels.sink_boundary
    @kernels.source_boundary
    import HartreeParticleDSL.kernel_types.kernels as kernels
    from HartreeParticleDSL.c_types import c_double
    raise NotImplementedError() # pragma: no cover
