
name: HartreeParticleDSL tests

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]
jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [3.6, 3.9]
        steps:
        - uses: actions/checkout@v2
          with:
              submodules: recursive
              fetch-depth: '0'
        - name: Check for [skip ci] in commit message
          uses: mstachniuk/ci-skip@v1
          with:
              # This setting causes the tests to 'fail' if [skip ci] is specified
              fail-fast: true
              commit-filter: '[skip ci]'
        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v2
          with:
              python-version: ${{ matrix.python-version }}
        - name: Install dependencies
          run: |
              python -m pip install --upgrade pip
              pip install flake8 pytest pytest-cov pytest-xdist
              pip install  .
        - name: Lint with flake8
          run: |
              #Don't do much with this yet.
              flake8 --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics src/HartreeParticleDSL
        - name: Test with pytest
          run: |
              locale
              pytest --cov=HartreeParticleDSL --cov-report=xml src/HartreeParticleDSL/test
          env:
              LC_ALL: C
              LANG: C
        - name: Upload coverage to Codecov
          uses: codecov/codecov-action@v1
          with:
              verbose: true
